bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/TennisDataLoader/v17/.suo
/.idea/.idea.TennisDataLoader/.idea
/.vs/TennisDataLoader
/TennisDataLoader/DataFiles/PlayersData/atp_players.csv
/.vs/ProjectEvaluation
